<h1>Listing heros</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Oftype</th>
      <th>Faction</th>
      <th>Melrange</th>
      <th>Hasguide</th>
    </tr>
  </thead>

  <tbody>
    <% @heros.each do |hero| %>
      <tr>
        <td><%= link_to hero.name, hero %></td>
        <td><%= hero.oftype %></td>
        <td><%= hero.faction %></td>
        <td><%= hero.melrange %></td>
        <td><%= hero.hasguide %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
