<p id="notice"><%= notice %></p>

<p>
  <strong>Sname:</strong>
  <%= @skill.sname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @skill.description %>
</p>

<p>
  <strong>Actpass:</strong>
  <%= @skill.actpass %>
</p>

<p>
  <strong>Ultimate:</strong>
  <%= @skill.ultimate %>
</p>

<p>
  <strong>Skillnum:</strong>
  <%= @skill.skillnum %>
</p>

<p>
  <strong>Hero:</strong>
  <%= @skill.hero_id %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
