<p id="notice"><%= notice %></p>

<p>
  <strong>Lv1skill:</strong>
  <%= @guide.lv1skill %>
</p>

<p>
  <strong>Lv2skill:</strong>
  <%= @guide.lv2skill %>
</p>

<p>
  <strong>Lv3skill:</strong>
  <%= @guide.lv3skill %>
</p>

<p>
  <strong>Lv4skill:</strong>
  <%= @guide.lv4skill %>
</p>

<p>
  <strong>Lv5skill:</strong>
  <%= @guide.lv5skill %>
</p>

<p>
  <strong>Lv6skill:</strong>
  <%= @guide.lv6skill %>
</p>

<p>
  <strong>Lv7skill:</strong>
  <%= @guide.lv7skill %>
</p>

<p>
  <strong>Lv8skill:</strong>
  <%= @guide.lv8skill %>
</p>

<p>
  <strong>Lv9skill:</strong>
  <%= @guide.lv9skill %>
</p>

<p>
  <strong>Lv10skill:</strong>
  <%= @guide.lv10skill %>
</p>

<p>
  <strong>Lv11skill:</strong>
  <%= @guide.lv11skill %>
</p>

<p>
  <strong>Lv12skill:</strong>
  <%= @guide.lv12skill %>
</p>

<p>
  <strong>Lv13skill:</strong>
  <%= @guide.lv13skill %>
</p>

<p>
  <strong>Lv14skill:</strong>
  <%= @guide.lv14skill %>
</p>

<p>
  <strong>Lv15skill:</strong>
  <%= @guide.lv15skill %>
</p>

<p>
  <strong>Lv16skill:</strong>
  <%= @guide.lv16skill %>
</p>

<p>
  <strong>Lv17skill:</strong>
  <%= @guide.lv17skill %>
</p>

<p>
  <strong>Lv18skill:</strong>
  <%= @guide.lv18skill %>
</p>

<p>
  <strong>Lv19skill:</strong>
  <%= @guide.lv19skill %>
</p>

<p>
  <strong>Lv20skill:</strong>
  <%= @guide.lv20skill %>
</p>

<p>
  <strong>Lv21skill:</strong>
  <%= @guide.lv21skill %>
</p>

<p>
  <strong>Lv22skill:</strong>
  <%= @guide.lv22skill %>
</p>

<p>
  <strong>Lv23skill:</strong>
  <%= @guide.lv23skill %>
</p>

<p>
  <strong>Lv24skill:</strong>
  <%= @guide.lv24skill %>
</p>

<p>
  <strong>Lv25skill:</strong>
  <%= @guide.lv25skill %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @guide.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @guide.user_id %>
</p>

<p>
  <strong>Hero:</strong>
  <%= @guide.hero_id %>
</p>

<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
